* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(104, 104, 186);
}

.profile-card {
    background: rgb(197, 176, 176);
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    width: 350px;
    box-shadow: 10px 10px 25px rgba(0,0,0,0);
    transition: 0.5s ease;
}

.profile-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.3);
}
.profile-card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #764ba2;
    margin-bottom: 15px;
}

.profile-card h2 {
    font-size: 22px;
    color: #333;
}
.designation {
    color: #764ba2;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}
.bio {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}

.social-icons a {
    font-size: 20px;
    margin: 0 10px;
    transition: 0.3s;
}
#linkedin{
    color: blue;
}
#git{
    color: black;
}

.social-icons a:hover {
    color: #333;
}
@media (max-width: 400px) {
    .profile-card {
        width: 90%;
    }
}
